@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
}.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}.area{
    position: relative;
    
    width: 1200px;
    top: -100px;
   background: rgba(0,0,0,0.7);
   padding: 20px;
   margin-right: 60px;
   
   
  
  }
.area h4{
    font-family: baloo;
    margin: 0;
    font-size: 40px;
    color: #fff;
    left: 150px;
    position: relative;
    top: -50px;
  } 
  .icons{
    width: 8%;
    left: 190px;
    top: -10px;
    margin-bottom: -10px;
  
  }.area2{float: right;
    list-style: none;
  top: -10px;
    margin-top: -80px;
  
  
  }
  .area2 li{
    display: inline-block;
  
  } .area2 li:hover{
    background: aqua;
  }
  .area2 li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: baloo;
    font-size: 20px;
  }
  .area2 li a:hover{
    background: #fff;
    color: aqua;
  
  }.content-section{
    position: absolute;
    top: 170px;
}
.image{
    position: absolute;
    top: 200px;
    float: right;
    right: 80px;
    width: 30%;

}.image img{
    width: 100%;
    height: auto;
}.content-section .title{
    
    font-size: 28px;
    color: teal;

}.content-section .content1 p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}.content-section .social{
    color: lightseagreen;
    font-size: 30px;
}
.content-section .content1 h2{
    font-size: 20px;
    color: orangered;
}
.content-section .content2 h2{
    font-size: 20px;
    color: orangered;
}.content-section .content3 h2{
    font-size: 20px;
    color: orangered;
}.content-section .content2 p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}.content-section .content3 p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}