@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";



.banner-area{
    height: 100vh;
    background-image: url();
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center center;

    
}
body{
    
        margin: 0;
        padding: 0;   
}.area{bottom: 40px;
  top: -10px;
 background: rgba(0,0,0,0.7);
 padding: 5px;
 

}
header{
    padding: 15px 60px;
    display: flex;
    align-items: center;
    
}.area h4{
  font-family: baloo;
  margin: 0;
  font-size: 40px;
  color: #fff;
  left: 150px;
  position: relative;
  top: -50px;
} 
.icons{
  width: 8%;
  left: 190px;
  top: -10px;
  margin-bottom: -10px;

}.area2{float: right;
  list-style: none;
top: -10px;
  margin-top: -80px;


}
.area2 li{
  display: inline-block;

} .area2 li:hover{
  background: aqua;
}
.area2 li a{
  color:#fff;
  text-decoration: none;
  padding: 5px 20px;
  font-family: baloo;
  font-size: 20px;
}
.area2 li a:hover{
  background: #fff;
  color: aqua;

}
.menu {
    tab-size: 23px;
    
    padding-left: 20px;
    display: inline-flex;  
    padding:  20px;  
    position: fixed;  
    text-align: center;
    width: 100%;
    float: right;
    list-style: none;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-tab-size:16;
    --gap: 0.5rem;
    margin-left: var(--gap);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.menu li{
  
}
.menu li:hover{
}.menu li a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    --gap: 2rem;
    margin-left: var(--gap);
    font-family: poppins;
    color: teal;
    text-transform: uppercase; 
    -moz-tab-size: 16; 
  tab-size: 23px;
  padding-left: 20px;
    
    width: 100px;
    padding: 10px 10px;
    font-size: 15px;
    list-style-type: none;
    font-weight: 100;
    border: 2px solid teal;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    
     
     
    
}
.menu li:hover a{
   box-shadow: 0 5px 50px 0 teal inset,0 5px 50px 0 teal,
    0 5px 50px 0 teal inset,0 5px 50px 0 teal;
}.search-field{
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    text-align: center;
    top: 10px;
    margin-left: 20px;

    
}.location1{
    width: 300px;
    text-align: center;
}.location2{
    text-align: center;
    width: 300px;
    
}.search-btn
{
    height: 50px;
    width: 200px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
    margin-left: 40px;
}.search-btn:hover{
    background: aqua;
    cursor:pointer;
}.form-box{
  position:absolute;
     top:200px;
     margin-left: 130px;
    background: rgba(0,0,0,0.6);
    padding: 10px;

  }.container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  .glassmorphism {
    width: 520px;
    height: 520px;
    top: 340px;
    position: absolute;
    left: 70px;
  }
  .weather-box {
    background: rgba(255,255,255,0.3);
    position:absolute;
    top: -20px;
    left: auto;
    padding: 20px;
    width: 1200px;
    height: 110px;
    border-radius: 20px;
    border-left: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
  }
    .weather-box h1 {
        font-size: 40px;
        text-align: right;
        right: 10px;
        position: absolute;
        top: 10px;
        margin-top: 0;
        color: transparent;
        text-shadow: 1px 1px rgba(0,0,0,0.5);
      }.weather-box h2 {
        font-size: 10px;
        position: absolute;
        top: 40px;
        font-size: 1.25em;
    
        text-align: left;
        text-shadow: 1px 1px rgba(0,0,0,0.7);
        
        
      }.weather-box h3{
        font-size: 10px;
        position: relative;
        
        font-size: 1.25em;
      top: -10px;
        left: 300px;
        color: teal;
      }.weather-box h4 {
          font-size: 10px;
          position: relative;
          font-size: 1em;
        top: -60px;
          left: 700px;
          color: teal;
      }.weather-box h5{
        font-size: 10px;
        position: absolute;
        top: -15px;
        font-size: 1.25em;
    
        text-align: left;
        text-shadow: 1px 1px rgba(0,0,0,0.7);

      }
      .weather-box p {
          text-align: right;
        font-size: -30px; 
        color:#000;
        position: relative;
        top: -70px;
        right:10px;
      }.weather-box1 {
        background: rgba(255,255,255,0.3);
        position:absolute;
        top: 125px;
        left:-10px;
        padding: 20px;
        width: 1200px;
        height: 110px;
        border-radius: 20px;
        border-left: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(10px);
        box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
        font-family: 'Roboto', sans-serif;
      }
        .weather-box1 h1 {
            font-size: 40px;
            text-align: right;
            right: 10px;
            position: absolute;
            top: 10px;
            margin-top: 0;
            color: transparent;
            text-shadow: 1px 1px rgba(0,0,0,0.5);
          }.weather-box1 h2 {
            font-size: 10px;
            position: absolute;
            top:  20px;
            font-size: 1.25em;
        
            text-align: left;
            text-shadow: 1px 1px rgba(0,0,0,0.7);
            
            
          }.weather-box1 h5{
            
                font-size: 10px;
                position: absolute;
                top: -30px;
                font-size: 1.25em;
              
                text-align: left;
                text-shadow: 1px 1px rgba(0,0,0,0.7);
                
                

          }
          .weather-box1 h3{
            font-size: 10px;
            position: relative;
            
            font-size: 1.25em;
          top: -10px;
            left: 300px;
            color: teal;
          }.weather-box1 h4 {
              font-size: 10px;
              position: relative;
              font-size: 1.25em;
            top: -60px;
              left: 700px;
              color: teal;
          }
          .weather-box1 p {
              text-align: right;
            font-size: -30px; 
            color:#000;
            position: relative;
            top: -85px;
            right:10px;
          }.weather-box2 {
            background: rgba(255,255,255,0.3);
            position:absolute;
            top: 130px;
            left: -2px;
            padding: 20px;
            width: 1200px;
            height: 110px;
            border-radius: 20px;
            border-left: 4px solid rgba(255, 255, 255, 0.3);
            border-top: 4px solid rgba(255, 255, 255, 0.3);
            -webkit-backdrop-filter: blur(4px);
                    backdrop-filter: blur(10px);
            box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
            font-family: 'Roboto', sans-serif;
          }
            .weather-box2 h1 {
                font-size: 40px;
                text-align: right;
                right: 10px;
                position: absolute;
                top: 10px;
                margin-top: 0;
                color: transparent;
                text-shadow: 1px 1px rgba(0,0,0,0.5);
              }.weather-box2 h2 {
                font-size: 10px;
                position: absolute;
                top: -20px;
                font-size: 1.25em;
              top: 30px;
                text-align: left;
                text-shadow: 1px 1px rgba(0,0,0,0.7);
                
                
              }.weather-box2 h5{

                font-size: 10px;
                position: absolute;
                top: -20px;
                font-size: 1.25em;
              
                text-align: left;
                text-shadow: 1px 1px rgba(0,0,0,0.7);
                





              }.weather-box2 h3{
                font-size: 10px;
                position: relative;
                
                font-size: 1.25em;
              top: -10px;
                left: 300px;
                color: teal;
              }.weather-box2 h4 {
                  font-size: 10px;
                  position: relative;
                  font-size: 1.25em;
                top: -60px;
                  left: 700px;
                  color: teal;
              }
              .weather-box2 p {
                  text-align: right;
                font-size: -30px; 
                color:#000;
                position: relative;
                top: -85px;
                right:10px;
              }.weather-box3 {
                background: rgba(255,255,255,0.3);
                position:absolute;
                top: 150px;
                left: -5px;
                padding: 20px;
                width: 1200px;
                height: 110px;
                border-radius: 20px;
                border-left: 4px solid rgba(255, 255, 255, 0.3);
                border-top: 4px solid rgba(255, 255, 255, 0.3);
                -webkit-backdrop-filter: blur(4px);
                        backdrop-filter: blur(10px);
                box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
                font-family: 'Roboto', sans-serif;
              }
                .weather-box3 h1 {
                    font-size: 40px;
                    text-align: right;
                    right: 10px;
                    position: absolute;
                    top: 10px;
                    margin-top: 0;
                    color: transparent;
                    text-shadow: 1px 1px rgba(0,0,0,0.5);
                  }.weather-box3 h2 {
                    font-size: 10px;
                    position: absolute;
                    top: 30px;
                    font-size: 1.25em;
                  
                    text-align: left;
                    text-shadow: 1px 1px rgba(0,0,0,0.7);
                    
                    
                  }.weather-box3 h5{

                    font-size: 10px;
                    position: absolute;
                    top: -20px;
                    font-size: 1.25em;
                  
                    text-align: left;
                    text-shadow: 1px 1px rgba(0,0,0,0.7);
                    
                    





                  }
                  .weather-box3 h3{
                    font-size: 10px;
                    position: relative;
                    
                    font-size: 1.25em;
                  top: -10px;
                    left: 300px;
                    color: teal;
                  }.weather-box3 h4 {
                      font-size: 10px;
                      position: relative;
                      font-size: 1.25em;
                    top: -60px;
                      left: 700px;
                      color: teal;
                  }
                  .weather-box3 p {
                      text-align: right;
                    font-size: -30px; 
                    color:#000;
                    position: relative;
                    top: -85px;
                    right:10px;
                  }
      .weather-box .location {
        position: absolute;
        color:teal;
        top: 300px;
        right: 50px;
        font-size: 25px;
      }
      .drop {
        background: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        border-radius: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
        position: absolute;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }.drop-1 {
        height: 80px;
        width: 120px;
        top: -20px;
        left: -40px;
        z-index: -1;
      }
      .drop-2 {
        height: 100px;
        width: 100px;
        position: relative;
        bottom: -80px;
        left: 80px;
        z-index: -1;
      }
      .drop-3 {
        height: 120px;
        width: 120px;
        bottom: -450px;
        right: -100px;
      }
      .drop-4 {
        height: 60px;
        width: 60px;
        top: -26px;
        right: 75px;
      } 
     
        .weather-box .bottom{
        display: table-cell;
        width: 100%;
        position: absolute;
        bottom: 200px;
        display: flex;
        justify-self: center;
        color: teal ;
      }.weather-box .bottom div{
        display: table-column;
        margin: 5px 10px 5px 10px;
        text-align: center;
        line-height: 100%;
        font-size: 1.25em;
        -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
        text-shadow: 1px 1px 5px #707070;
        
    }.weather-box .bottom1{
      display: table-cell;
      width: 100%;
      position: absolute;
      bottom: 150px;
      display: flex;
      justify-self: center;
      color: teal;
    }.weather-box .bottom1 div{
      display: table-column;
      margin: 5px 10px 5px 10px;
      -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
      text-align: center;
      line-height: 100%;
      font-size: 1.25em;
      text-shadow: 1px 1px 5px #707070;
    }.weather-box .bottom2{
      display: table-cell;
      width: 100%;
      position: absolute;
      bottom: 100px;
      display: flex;
      justify-self: center;
      color: teal;
    }.weather-box .bottom2 div{
      display: table-column;
      margin: 5px 10px 5px 10px;
      -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
      text-align: center;
      line-height: 100%;
      font-size: 1.25em;
      text-shadow: 1px 1px 5px #707070;
    }.weather-box .bottom3{
      display: table-cell;
      width: 100%;
      position: absolute;
      bottom: 50px;
      display: flex;
      justify-self: center;
      color: teal ;
    }.weather-box .bottom3 div{
      display: table-column;
      margin: 5px 10px 5px 10px;
      -webkit-text-decoration-line: underline; /* Safari */
   text-decoration-line: underline; 
      text-align: center;
      line-height: 100%;
      font-size: 1.25em;
      text-shadow: 1px 1px 5px #707070;
    }.gallery{
      position: absolute;
      top: 600px;
    }
      
        
        
        * {
          box-sizing: border-box;
        }
        
        body {
          background-color: #f1f1f1;
          padding: 20px;
          font-family: Arial;
        }
        
        /* Center website */
        .main {
          max-width: 1000px;
          margin: auto;
        }
        .content1 h3 {
          position: relative;
          left: 10px;
          font-size: 25px;
          word-break: break-all;
        
      } .content1 p {
        position: relative;
        top: -10px;
        font-size: 15px;
      
      }   
        .row {
          margin: 8px -16px;
        }
        
        /* Add padding BETWEEN each column */
        .row,
        .row > .column {
          padding: 8px;
        }
        
        /* Create four equal columns that floats next to each other */
        .column {
          float: left;
          width: 25%;
        }
        
        /* Clear floats after rows */ 
        .row:after {
          content: "";
          display: table;
          clear: both;
        }.content1 {
          background-color: white;
          padding: 10px;
          width: 100%;
        }
        /* Content */
      
        
        
        /* Responsive layout - makes a two column-layout instead of four columns */
        @media screen and (max-width: 900px) {
          .column {
            width: 50%;
          }
        
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
        
        
          }
        
        }
        *,*:before,*:after{
          box-sizing: border-box;

        }
        footer{
          display: -webkit-inline-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          padding:50px;
          color: #fff;
          width: 1500px;
          position: absolute;
          top: 560px;
          left: -100px;
          background-color: #011c39;
          
        }
        .footer-left{
          margin-right: 1.25em;
          margin-bottom: 2em;
        }
        .footer-left img{
          width: 50%;
        }
        h2{
          font-weight: 400;
          font-size: 17px;
        }
        .footer ul{
          list-style: none;
          padding-left: 0;

        }
        .footer li{

          line-height: 2em;
        }.footer a{
          text-decoration: none;
        }.footer-right{
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          flex-flow: row wrap;
      
        }.product h2{
          position: relative;
          top: -1px; 

        }.product{

           position: relative;
           left: 50px;
           top: -20px;
           font-size: 20px;
        }.links h2{
          position: relative;
          top: -10px; 
          left: 10px;

        }.links{

           position: relative;
           left: 330px;
           top: -250px;
           font-size: 20px;
        }.address h2{
          position: relative;
          top: -10px; 
          left: 40px;

        }.address{

           position: relative;
           left: 730px;
           top: -440px;
           font-size: 20px;
        }.footer-right > *{
          flex: 1 50%;
          margin-right: 1.25em;
        }
        .box a{
          color: teal;
        }.footer-bottom{
          text-align: center;
          color: #999;
          padding-top: 50px;
          position: relative;
          top: 280px;
          left: -80px;

        }
        .footer-left p{
          padding-right: 20%;
          color:teal;
          
        }.socials a{
          background: #364a62;
          width: 40px;
          height: 40px;
          display: inline-block;
          margin-right: 10px;
        }
        .socials a i{
          color: #e7f2f4;
          padding: 10px 12px;
          font-size: 20px;


        }
