*body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(Q2LS1A.jpg);
    background-size:cover;
    background-position: center;
    
}.header1
{
    height: 100vh;
    background-image:linear-gradient(rgba(0.0.0.0.5),rgba(0,0,0,0.5)),url(gettyimages.jpg);
    background-image:url(Q2LS1A.jpg);
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}.menu {
    width: 50%;
    float: right;
    list-style: none;
    position: relative;
    top: -30%;
    left: 17%;
    transform: translate(-50%,-50%);
}
.menu li{
    width: 50px;
    height: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 13px;
    float: left;
    padding: 40px;
    color: #15f4ee;
    border-radius: 5px solid #15f4ee;
     
}
.menu li:hover{
}.menu li a{
    text-decoration: none;
    font-family: poppins;
    color: #15f4ee;
    text-transform: uppercase; 
    position: relative;
    width: 100px;
    padding: 20px;
    font-size: 17px;
    font-family: poppins;
    font-weight: 200;
    border: 3px solid #15f4ee;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 200px;
    transition: 1.5s;
    
     
     
    
}
.menu li:hover a{
   box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}.header1
{
    height: 100vh;
    background-image:linear-gradient(rgba(0.0.0.0.5),rgba(0,0,0,0.5)),url(gettyimages.jpg);
    background-image:url(Q2LS1A.jpg);
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}h1{
    color: #fff;
    margin-bottom: 70px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}.search-field{
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}.location1{
    width: 300px;
}.location2{
    width: 200px;
}.search-btn
{
    height: 50px;
    width: 150px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
}.search-btn:hover{
    background: #ffc107;
    cursor:pointer;
}.form-box{
    background: rgba(0,0,0,0.5);
    padding: 40px;
}